<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body class="bg-light">
<div class="page-inner" layout:fragment="content">
    <header class="bg-success text-white text-center py-4">
        <h1 class="mb-0"><i class="fas fa-tree"></i> SANTA 공지사항 <i class="fas fa-tree"></i></h1>
        <p class="mb-0">A day without laughter is a day wasted!</p>
    </header>

    <main class="container my-5">
        <div class="card shadow-sm">
            <div class="card-header bg-danger text-white">
                <div class="d-flex justify-content-between align-items-center">
                    <h2 class="h5 mb-0"><i class="fas fa-bell"></i> 공지사항</h2>
                    <a href="/notice/noticeWrite" class="btn btn-success">
                        <i class="fas fa-pencil-alt"></i> 공지사항 작성하기
                    </a>
                </div>
<!--                <h2 class="h5 mb-0"><i class="fas fa-bell"></i> 공지사항</h2>-->
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex align-items-center" th:each="NoticeDTO : ${noticeList}">
                        <a th:href="@{/notice/read(no=${NoticeDTO.noticeId})}" style="text-decoration: none">
                        <div>
                            <strong th:text="${NoticeDTO.categories}">[이벤트]</strong>
                            <span class="text-body-emphasis" th:text="|${NoticeDTO.title} - |">크리스마스 선물 교환회! </span>
                            <span class="text-muted" th:text="${NoticeDTO.updatedAt}">2025-01-13</span>
                        </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </main>

    <footer class="bg-dark text-white text-center py-3">
        <p class="mb-0">&copy; 2025 SANTA 게시판 | 모두의 행복을 빕니다!</p>
    </footer>
</div>
</body>
</html>