<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div class="page-inner" layout:fragment="content">
    <div class="page-header">
        <h3 class="fw-bold mb-3">배송 관리</h3>
        <ul class="breadcrumbs mb-3">
            <li class="nav-home">
                <a href="#">
                    <i class="icon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="icon-arrow-right"></i>
            </li>
            <li class="nav-item">
                <a href="#">배송 관리</a>
            </li>
            <li class="separator">
                <i class="icon-arrow-right"></i>
            </li>
            <li class="nav-item">
                <a href="#">배송 조회</a>
            </li>
        </ul>
    </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card border-success">
                    <div class="card-header bg-danger text-white text-center">
                        <h4 class="card-title m-0">🎄 배송 조회 🎅</h4>
                    </div>
                    <!--        <div class="card-body bg-white">-->
                    <!--           필터 섹션 -->
                    <!--          <div class="p-3 bg-light border rounded">-->
                    <!--            <div class="row g-3">-->
                    <!--              &lt;!&ndash; 출고일자 / 입고->출고&ndash;&gt;-->
                    <!--              <div class="col-md-6 d-flex align-items-center">-->
                    <!--                <label for="start-date" class="form-label fw-bold text-success me-2 mb-0">출고일자</label>-->
                    <!--                <input type="date" id="start-date" class="form-control w-50 me-2">-->
                    <!--                <input type="date" id="end-date" class="form-control w-25 me-2">-->
                    <!--                <button class="btn btn-danger">검색</button>-->
                    <!--              </div>-->

                    <!--              &lt;!&ndash; 카테고리 &ndash;&gt;-->
                    <!--              <div class="col-md-6 d-flex align-items-center">-->
                    <!--                <label for="category" class="form-label fw-bold text-success me-2 mb-0">카테고리</label>-->
                    <!--                <input type="text" id="category" class="form-control w-75 me-2">-->
                    <!--                <button class="btn btn-danger">검색</button>-->
                    <!--              </div>-->

                    <!--              &lt;!&ndash; 창고 &ndash;&gt;-->
                    <!--              <div class="col-md-6 d-flex align-items-center">-->
                    <!--                <label for="warehouse" class="form-label fw-bold text-success me-2 mb-0">창고</label>-->
                    <!--                <input type="text" id="warehouse" class="form-control w-75 me-2">-->
                    <!--                <button class="btn btn-danger">검색</button>-->
                    <!--              </div>-->

                    <!--              &lt;!&ndash; 지점 &ndash;&gt;-->
                    <!--              <div class="col-md-6 d-flex align-items-center">-->
                    <!--                <label for="branchName" class="form-label fw-bold text-success me-2 mb-0">지점</label>-->
                    <!--                <input type="text" id="branchName" class="form-control w-75 me-2">-->
                    <!--                <button class="btn btn-danger">검색</button>-->
                    <!--              </div>-->

                    <!--            </div>-->
                    <!--          </div>-->
                    <!--        </div>-->
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table
                        id="basic-datatables"
                        class="display table table-striped table-hover"
                >
                    <thead>
                    <tr>
                        <th>배송ID</th>
                        <th>배송날짜</th>
                        <th>베송수량</th>
                        <th>창고이름</th>
                        <th>창고주소</th>
                        <th>지점이름</th>
                        <th>지점주소</th>
                        <th>배송상태</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- 반복문 -->
                    <tr th:each="TransitDTO : ${list}">
                        <th th:text="${TransitDTO.transitId}" class="text-center"></th>
                        <td th:text="${TransitDTO.formattedTransitDate}" class="text-center"></td>
                        <td th:text="${TransitDTO.transitQuantity}" class="text-center"></td>
                        <td th:text="${TransitDTO.warehouseName}" class="text-center"></td>
                        <td th:text="${TransitDTO.warehouseLocation}" class="text-center"></td>
                        <td th:text="${TransitDTO.branchName}" class="text-center"></td>
                        <td th:text="${TransitDTO.branchLocation}" class="text-center"></td>
                        <td th:text="${TransitDTO.transitStatus}" class="text-center"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
<th:block layout:fragment="script">
    <script>
        //$(document).ready(function () {
        $("#basic-datatables").DataTable({});
        // });
    </script>
</th:block>
</html>