<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div class="page-inner" layout:fragment="content">
  <div class="page-header">
    <h3 class="fw-bold mb-3">입/출고 관리</h3>
    <ul class="breadcrumbs mb-3">
      <li class="nav-home">
        <a href="#">
          <i class="icon-home"></i>
        </a>
      </li>
      <li class="separator">
        <i class="icon-arrow-right"></i>
      </li>
      <li class="nav-item">
        <a href="#">입/출고 관리</a>
      </li>
      <li class="separator">
        <i class="icon-arrow-right"></i>
      </li>
      <li class="nav-item">
        <a href="#">출고 조회</a>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card border-success">
        <div class="card-header bg-danger text-white text-center">
          <h4 class="card-title m-0">🎄 출고 조회 🎅</h4>
        </div>
        <div class="card-body bg-white">
          <!-- 필터 섹션 -->
          <div class="p-3 bg-light border rounded">
            <div class="row g-3">
              <!-- 출고일자 / 입고->출고-->
              <div class="col-md-6 d-flex align-items-center">
                <label for="start-date" class="form-label fw-bold text-success me-2 mb-0">출고일자</label>
                <input type="date" id="start-date" class="form-control w-50 me-2">
                <input type="date" id="end-date" class="form-control w-25 me-2">
                <button class="btn btn-danger">검색</button>
              </div>

              <!-- 상품명 / 상품->카테고리 -->
              <div class="col-md-6 d-flex align-items-center">
                <label for="product-name" class="form-label fw-bold text-success me-2 mb-0">카테고리</label>
                <input type="text" id="product-name" class="form-control w-75 me-2">
                <button class="btn btn-danger">검색</button>
              </div>

              <!-- 창고 -->
              <div class="col-md-6 d-flex align-items-center">
                <label for="warehouse" class="form-label fw-bold text-success me-2 mb-0">창고</label>
                <input type="text" id="warehouse" class="form-control w-75 me-2">
                <button class="btn btn-danger">검색</button>
              </div>

              <!-- 공급업체 / 공급업체 -> 지점 -->
              <div class="col-md-6 d-flex align-items-center">
                <label for="supplier" class="form-label fw-bold text-success me-2 mb-0">지점</label>
                <input type="text" id="supplier" class="form-control w-75 me-2">
                <button class="btn btn-danger">검색</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
              id="basic-datatables"
              class="display table table-striped table-hover"
      >
        <thead>
        <tr>
          <th>출고ID</th>
          <th>주문ID</th>
          <th>출고날짜</th>
          <th>출고상태</th>
          <th>창고이름</th>
          <th>지점이름</th>
          <th>카테고리</th>
          <th>상품명</th>
          <th>출고수량</th>
          <th>상품가격</th>
          <th>총가격</th>
        </tr>
        </thead>
        <tbody>
        <!-- 반복문 -->
        <tr th:each="OutgoingDetailsDTO : ${list}">
          <th th:text="${OutgoingDetailsDTO.outgoingId}" class="text-center"></th>
          <td th:text="${OutgoingDetailsDTO.orderId}" class="text-center"></td>
          <td th:text="${OutgoingDetailsDTO.outgoingDate}"  class="text-center"></td>
          <td th:text="${OutgoingDetailsDTO.outgoingStatus}"  class="text-center"></td>
          <td th:text="${OutgoingDetailsDTO.warehouseName}"  class="text-center"></td>
          <td th:text="${OutgoingDetailsDTO.branchName}"  class="text-center"></td>
          <td th:text="${OutgoingDetailsDTO.productCategory}"  class="text-center"></td>
          <td th:text="${OutgoingDetailsDTO.productName}"  class="text-center"></td>
          <td th:text="${OutgoingDetailsDTO.outgoingQuantity}"  class="text-center"></td>
          <td th:text="${OutgoingDetailsDTO.productPrice}"  class="text-center"></td>
          <td th:text="${OutgoingDetailsDTO.totalPrice}"  class="text-center"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

</body>
<th:block layout:fragment="script">
  <script>
    //$(document).ready(function () {
    $("#basic-datatables").DataTable({});
    // });
  </script>
</th:block>
</html>>