<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.santa.inventory.mapper.InventoryMapper">

    <resultMap id="WarehouseInventoryResultMap" type="com.example.santa.inventory.vo.InventoryDTO">
        <id property="inventoryId" column="inventory_id"/>
        <result property="warehouseId" column="warehouse_id"/>
        <result property="productId" column="product_id"/>
        <result property="quantity" column="quantity"/>
        <result property="lastUpdated" column="last_updated"/>
    </resultMap>

<!--    *************************************************-->
<!--    ******************** 창고별 재고 조회 **************-->
<!--    *************************************************-->

<!--    *************************************************-->
<!--    ******************** 품목별 재고 조회 **************-->
<!--    *************************************************-->

<!--    *************************************************-->
<!--    ******************** 재고 통계 *******************-->
<!--    *************************************************-->
</mapper>