<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.santa.board.mapper.BoardMapper">

    <select id="list" resultMap="boardVO2"></select>
<resultMap id="boardVO2" type="com.example.santa.board.vo.BoardVO">
    <id column="board_id" property="boardId"></id>
    <result column="board_type" property="boardType"></result>
</resultMap>

</mapper>
