<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.santa.find.mapper.ResetTokenMapper">

    <!-- 토큰 삽입 -->
    <insert id="insertResetToken">
        INSERT INTO password_reset_tokens (email, token)
        VALUES (#{email}, #{token})
    </insert>

    <!-- 토큰으로 이메일 검색 -->
    <select id="findEmailByToken" parameterType="string" resultType="string">
        SELECT email FROM password_reset_tokens WHERE token = #{token}
    </select>

    <!-- 토큰 삭제 -->
    <delete id="deleteResetToken" parameterType="string">
        DELETE FROM password_reset_tokens WHERE token = #{token}
    </delete>
</mapper>
