<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/assets2/img/favicon.png">
    <link rel="stylesheet" href="/assets2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets2/css/all.min.css">
    <link rel="stylesheet" href="/assets2/css/uf-style.css">
    <title>Find ID/Password</title>
</head>
<body>
<div class="uf-form-signin">
    <div class="text-center">
        <a href="#"><img src="/assets2/img/logo-fb.png" alt="" width="100" height="100"></a>
        <h1 class="text-white h3">Find ID / Password</h1>
    </div>
    <!-- 아이디 찾기 -->
    <form class="mt-4" method="POST" action="/find/id">
        <div class="input-group uf-input-group input-group-lg mb-3">
            <span class="input-group-text fa fa-envelope"></span>
            <input type="email" class="form-control" name="email" placeholder="Your registered email address" required>
        </div>
        <div class="d-grid mb-4">
            <button type="submit" class="btn uf-btn-primary btn-lg">Find ID</button>
        </div>
    </form>
    <!-- 비밀번호 재설정 -->
    <form class="mt-4" method="POST" action="/find/password/reset">
        <div class="input-group uf-input-group input-group-lg mb-3">
            <span class="input-group-text fa fa-envelope"></span>
            <input type="email" class="form-control" name="email" placeholder="Your registered email address" required>
        </div>
        <div class="d-grid mb-4">
            <button type="submit" class="btn uf-btn-primary btn-lg">Send Password Reset Link</button>
        </div>
    </form>
    <div class="mt-4 text-center">
        <span class="text-white">Remember your credentials?</span>
        <a href="/login">Login</a>
    </div>
</div>
<script src="/assets2/js/popper.min.js"></script>
<script src="/assets2/js/bootstrap.min.js"></script>
</body>
</html>
